/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';



body {
  background-image: image-url('haike2.png');
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cont {
  margin-top: 100px;
  flex: 1;
  min-height: calc(100vh - 100px);
  padding-bottom: 30px;
}

header {
  background-image: image-url('haike3.png');
  color: #fafdff;
  height: 100px;
}

.link {
  color: #fafdff;
}

footer {
  background-image: image-url('haike3.png');
  text-align: center;
  padding: 30px 0;
  color: #fafdff;
  margin-top: auto;

}

.text-center {
 font-family: YuGothic,'Yu Gothic','Arial Black','Impact',sans-serif;
 font-weight: 900;
}

.container {
  font-family: YuGothic,'Yu Gothic','Arial Black','Impact',sans-serif;
  font-weight: 900;
}

.btn-group {
  font-family: YuGothic,'Yu Gothic','Arial Black','Impact',sans-serif;
  font-weight: 900;
}
h3 {
  font-family: YuGothic,'Yu Gothic','Arial Black','Impact',sans-serif;
  font-weight: 900;
}
h1 {
  font-family: YuGothic,'Yu Gothic','Arial Black','Impact',sans-serif;
  font-weight: 900;
}
h4 {
  font-family: YuGothic,'Yu Gothic','Arial Black','Impact',sans-serif;
  font-weight: 900;
}
h2 {
  font-family: YuGothic,'Yu Gothic','Arial Black','Impact',sans-serif;
  font-weight: 900;
}

// リンクの色を変える方法
// a:link { color: #0000ff; }
// a:visited { color: #000080; }
// a:hover { color: #ff0000; }
// a:active { color: #ff8000; }