// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// html, body {
//   margin:0;
//   padding:0;
// }

.comic {
  display:flex;
  flex-wrap:wrap;
  // font-family:'Comic Sans', cursive;
  padding:1vmin;
  float: left;
}

.panel {
  background-color:#fff;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  flex:1 1;
  // height:400px;
  margin:1vmin;
  overflow:hidden;
  position:relative;
  width: 510px;
}
.DstCanvas {
    width: 510px;
    height: 340px;
}


text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;
}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}

.bottom-right {
  bottom:-2px;
  position:absolute;
  right: 10px;
  transform:skew(-15deg);
  margin:3vmin;
}

.icon {
  position: relative;
  right: 130px;
}
.container {
  font-family: YuGothic,'Yu Gothic','Arial Black','Impact',sans-serif;
  font-weight: 900;
}