// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.articles {
  width: 380px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: YuGothic,'Yu Gothic','Arial Black','Impact',sans-serif;
  font-weight: 900;
}

.gazo {
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 30px;


  .DstCanvas {
    width: 100px;
  }

}

.icon {
  padding: 25px 0 0 30px;
  left: 50px;

  p {
    width: 200px;
    height: 100px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    }

}

.my {
  background: #fafdff;
  width: 380px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: YuGothic,'Yu Gothic','Arial Black','Impact',sans-serif;
  font-weight: 900;

}
.name {
  position: relative;
  top: 50px;
  left: 50px;
}
.introduction {
  position: relative;
  top: 60px;
  left: 50px;
}
.profile_image {
  position: relative;
  left: 100px;
}
.box{
float: left;
margin-left: 10px;
}

.boxContainer{
  overflow: hidden;
  position: relative;
  top: 30px;
  left: 40px;

}
.prof {
  position: relative;
  top: 30px;
  left: 150px;
}